@media screen and (max-width: 576px) {
  /* nav section */
  .nav {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  .heading {
    width: 100%;
    justify-content: center;
  }

  .nav-items {
    width: 100%;
    flex-direction: column;
  }

  .general {
    flex-direction: column;
    margin-top: 30px;
  }

  .social {
    margin-top: 30px;
  }

  /* banner section */

  .banner {
    padding: 20px;
    flex-direction: column-reverse;
  }

  .banner-content {
    width: 100%;
    margin-top: 80px;
  }

  .banner-title {
    font-size: 35px;
    text-align: center;
  }

  .sub-title {
    font-size: 50px;
    text-align: center;
  }

  .banner-desc {
    padding-left: 20%;
    font-size: 1rem;
  }

  .banner-btn {
    text-align: center;
  }

  .btn-primary {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 25px;
    border: 0px;
  }

  .go-btn {
    background: #4ec5f7;
    margin-left: 14px;
    padding: 15px 25px;
  }

  .banner-img {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .banner-img img {
    width: 75%;
  }

  /* gamer section */
  main {
    padding: 50px 40px;
  }

  .gamer {
    flex-direction: column;
  }

  .gamer-img {
    width: 100%;
    text-align: center;
  }

  .gamer-img img {
    width: 80%;
  }

  .gamer-content {
    width: 100%;
    text-align: center;
  }

  .content-title {
    font-size: 50px;
    font-weight: 700;
  }

  .content-desc {
    margin-top: 20px;
    font-size: 20px;
  }

  .gamer-btn {
    margin-top: 25px;
    margin-bottom: 35px;
  }

  .texts {
    text-align: center;
    font-size: 25px;
  }
}
