@media screen and (max-width: 576px) {
  /* nav section */
  .nav {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  .heading {
    width: 100%;
    justify-content: center;
  }

  .nav-items {
    width: 100%;
    flex-direction: column;
  }

  .general {
    flex-direction: column;
    margin-top: 30px;
  }

  .social {
    margin-top: 30px;
  }

  /* banner section */

  .banner {
    padding: 20px;
    flex-direction: column-reverse;
  }

  .banner-content {
    width: 100%;
    margin-top: 80px;
  }

  .banner-title {
    font-size: 35px;
    text-align: center;
  }

  .sub-title {
    font-size: 50px;
    text-align: center;
  }

  .banner-desc {
    padding-left: 20%;
    font-size: 1rem;
  }

  .banner-btn {
    text-align: center;
  }

  .btn-primary {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 25px;
    border: 0px;
  }

  .go-btn {
    background: #4ec5f7;
    margin-left: 14px;
    padding: 15px 25px;
  }

  .banner-img {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .banner-img img {
    width: 75%;
  }

  /* gamer section */
  main {
    padding: 50px 40px;
  }

  .gamer {
    flex-direction: column;
  }

  .gamer-img {
    width: 100%;
    text-align: center;
  }

  .gamer-img img {
    width: 80%;
  }

  .gamer-content {
    width: 100%;
    text-align: center;
  }

  .content-title {
    font-size: 50px;
    font-weight: 700;
  }

  .content-desc {
    margin-top: 20px;
    font-size: 20px;
  }

  .gamer-btn {
    margin-top: 25px;
    margin-bottom: 35px;
  }

  .texts {
    text-align: center;
    font-size: 25px;
  }

  /* online game section */

  .video-title {
    color: #0b0223;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }

  .video-title span {
    background: linear-gradient(#f948b2 0%, #8758f1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .video-desc {
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
  }

  .video-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    width: 100%;
  }

  .video-card-item {
    text-align: center;
  }

  .card-item-img img {
    width: 90%;
  }

  .card-desc {
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
  }

  /* instant play section */

  .play {
    flex-direction: column-reverse;
  }

  .play-content {
    width: 100%;
    padding: 0px;
  }

  .play-title {
    text-align: center;
    font-size: 40px;
    margin-top: 25px;
  }

  .play-desc {
    font-size: 15px;
    text-align: center;
    padding: 0 20px;
  }

  .play-img {
    width: 80%;
  }

  .play-img-1 {
    width: 90% !important;
    float: right;
  }

  .play-img-2 {
    margin-left: -20px;
    margin-top: -130px;
    width: 40% !important;
  }

  /* action games section */

  .action-game-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .action-game-item img {
    width: 30%;
  }

  .action-game-item h3 {
    font-size: 15px;
    text-align: center;
  }

  /* footer section */

  .icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    padding: 0;
    margin: 0 auto;
    margin-top: 40px;
  }

  .menu {
    flex-wrap: wrap;
  }

  .policy a {
    margin-top: 30px;
  }
  .copyright {
    margin-top: 40px;
  }
}
