/* work sens fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700;900&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,800&family=Work+Sans:wght@400;600;700;800;900&display=swap");

/* shared styles */
* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  border-radius: 48px;
  background: #ff42a5;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px 40px;
  border: 0px;
}

/* nav styles */
.nav {
  display: flex;
  padding: 30px 150px 0px;
}

.heading {
  width: 50%;
  display: flex;
  align-items: center;
}

.nav-logo {
  margin: 0px;
}

.heading h1 {
  color: #0b0223;
  font-size: 45px;
}

.nav-heading {
  font-size: 45px;
  color: #ff42a5;
  padding-left: 10px;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.general {
  display: flex;
  align-items: center;
}

.general > a {
  color: #3c354f;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 12px;
  text-decoration: none;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  background: rgb(43 12 126 / 10%);
  min-height: 2rem;
  min-width: 250px;
  margin-left: 15px;
  padding: 10px 20px;
}

.title {
  font-size: 1.1rem;
}

/* banner styles */
.banner {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 35px 140px;
  margin-top: 30px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.banner-content {
  width: 50%;
}

.banner-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.sub-title {
  font-size: 6rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.banner-desc {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
  margin-bottom: 15px;
}

.banner-desc i {
  margin-right: 12px;
}
.banner-img {
  width: 50%;
}

.banner-img img {
  width: 100%;
}

.download {
  color: #ff42a5;
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 50%;
  padding: 4px 5px 4px 6px;
}

.banner-btn {
  margin-top: 2.5rem;
}

.go-btn {
  background: #4ec5f7;
  margin-left: 24px;
}

/* gamer */
main {
  padding: 50px 40px;
}

.gamer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gamer-img {
  width: 60%;
}

.gamer-img img {
  width: 100%;
}

.gamer-content {
  text-align: right;
  width: 50%;
}

.content-title {
  font-size: 50px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-desc {
  margin-top: 20px;
  color: #534c64;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.gamer-btn {
  margin-top: 25px;
  margin-bottom: 25px;
}

.texts {
  color: #534c64;
  text-align: right;
  font-size: 25px;
  font-weight: 500;
}

.texts p {
  font-weight: 700;
}
